@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/gilroy/300.woff2") format("woff2"), url("../fonts/gilroy/300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/gilroy/800.woff2") format('woff2'), url("../fonts/gilroy/800.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: rgb(70, 70, 77);

  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: rgb(0, 0, 0);

  background-color: rgb(240, 197, 46);
  border: none;
}

.button:hover {
  background-color: rgb(240, 197, 46);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  background-color: rgba(240, 197, 46, 0.5);
}

.main-header a:hover svg #logo {
  opacity: 0.6;
}

.main-header a:active svg #logo {
  opacity: 0.3;
}

.search-form input {
  background-color: transparent;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.3);

  border: none;
}

.search-form input:focus {
  border-bottom: 2px solid rgb(0, 0, 0);

  outline: 0;
}

.button-search {
  font: inherit;
  letter-spacing: 0.2px;
}

.button-search:focus {
  color: rgb(0, 0, 0);

  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
}

.button-search:hover {
  color: rgb(255, 255, 255);

  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.user-navigation,
.site-navigation {
  list-style: none;
}

.user-navigation a {
  color: rgb(0, 0, 0);
  letter-spacing: 0.2px;
}

.site-navigation a {
  color: rgb(0, 0, 0);
}

.user-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.site-navigation-catalog {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  padding: 0;
}

.site-navigation a:hover,
.site-navigation-catalog:hover {
  color: rgba(0, 0, 0, 0.6);
  outline: 0;
}

.site-navigation a:active,
.site-navigation-catalog:active {
  color: rgba(0, 0, 0, 0.3);
  outline: 0;
}

.navigation-catalog-list {
  display: none;
}

.common-column h2 {
  font-family: "Gilory", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color:rgb(0, 0, 0);
}

.common-column p {
  line-height: 40px;
}

.about-us .companies-list {
  list-style: none;

  font-family: "Gilory", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: rgb(0, 0, 0);
}

.breadcrumbs {
  list-style: none;
  line-height: 24px
}

.breadcrumbs a,
.breadcrumbs-current {
  font-size: 14px;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter {
  background-color: rgb(235, 235, 235);
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;

  color: rgb(0, 0, 0);
}

.filter ul {
  list-style: none;
}

.filter-input + label {
  color: rgb(0, 0, 0);
}

.catalog-list {
  list-style: none;

}

.item-title a{
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.catalog-item-price span {
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: rgb(70, 70, 77);
}

.compare-button {
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);

  background-color: transparent;
  border: none;
}

.compare-button:hover {
  color: rgb(0, 0, 0);
}

.compare-button:active {
  color: rgba(0, 0, 0, 0.2);
}


.main-footer {
  color: rgb(255, 255, 255);

  background-color: rgb(70, 70, 77);
}

.main-footer-left {
  text-align: left;
}

.main-footer a svg #logo {
  fill: rgb(255, 198, 0)
}

.main-footer a:hover svg #logo {
  opacity: 0.6;
}

.main-footer a:active svg #logo {
  opacity: 0.3;
}

address {
  font-style: normal;
}

.main-footer-middle {
  text-align: center;
}

.footer-site-navigation {
  list-style: none;
}

.footer-site-navigation a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: rgb(255, 255, 255);
}

.footer-site-navigation a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social {
  list-style: none;
}

.social-button {
  color: rgb(255, 255, 255);
}

.main-footer-right {
  text-align: right;
}

.footer-user-navigation {
  list-style: none;
}

.footer-user-navigation a {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.2px;
}

.footer-user-navigation a:hover {
  color: rgba(255, 255, 255)
}

.footer-user-navigation a:active {
  color: rgba(255, 255, 255, 0.3)
}

.copyright a svg #html-logo {
  fill: rgb(255, 198, 0);
}

.copyright a:hover svg #html-logo {
  opacity: 0.6;
}

.copyright a:active svg #html-logo {
  opacity: 0.3;
}

.pop-up {
  display: none;
}








