@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/gilroy/300.woff2") format("woff2"), url("../fonts/gilroy/300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/gilroy/800.woff2") format('woff2'), url("../fonts/gilroy/800.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: rgb(70, 70, 77);

  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;

  position: relative;
  z-index: 1;

  padding: 10px 25px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: rgb(0, 0, 0);

  background-color: transparent;

  border: none;

  cursor: pointer;
}

.button::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 0px;
  z-index: -1;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;
}

.button:hover {
  background-color: rgb(240, 197, 46);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.index-page .main-navigation {
  min-height: 300px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 1040px;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 40px;

   background-color: rgba(240, 197, 46, 0.5);
}

.main-header-logo {
  display: block;

  position: relative;
  top: -15px;

  width: 163px;
  height: 35px;
  margin-bottom: 5px;

  cursor: pointer;
}

.main-header a:hover svg #logo {
  opacity: 0.6;
}

.main-header a:active svg #logo {
  opacity: 0.3;
}

.middle-header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  width: 1040px;
  margin-bottom: 25px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  width: 440px;

  position: relative;

}

.search-form label {
  display: block;

  position: absolute;
  top: 14px;

  font-size: 0;

  width: 20px;
  height: 20px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-form input {
  box-sizing: border-box;
  width: 355px;
  padding-left: 40px;
  border: none;
  border-bottom: 2px solid transparent;

  background-color: transparent;
}

.search-form input:focus {
  outline: none;

  border-bottom: 2px solid rgb(0, 0, 0);
}

.search-form .button-search {
  visibility: hidden;

  padding: 14px 19px;
  border: 2px solid rgb(0, 0, 0);

  background-color: transparent;

  cursor: pointer;
}

.search-form input[type="search"]:focus + .button-search {
  visibility: visible;
}

.search-form .button-search:hover {
  background-color: rgb(0, 0, 0);

  color: rgb(255, 255, 255);
}

.search-form .button-search:active {
  visibility: visible;
  background-color: rgb(0, 0, 0);

  color: rgba(255, 255, 255, 0.3);
}

.user-navigation,
.user-navigation-login,
.site-navigation,
.site-navigation-info {
  padding: 0;
  margin: 0;

  list-style: none;
}

.user-navigation {
  display: flex;
  justify-content: space-between;

  width: 500px;
}

.user-navigation a {
  color: rgb(0, 0, 0);
  letter-spacing: 0.2px;
}

.user-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation-login {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  width: 225px;
  padding: 0;
  margin: 0;
}

.login-link {
  position: relative;

  width: 135px;
  padding-left: 25px;
}

.login-link::before {
  content: "";

  position: absolute;
  bottom: 9px;
  left: 0;

  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.logout-link a {
  color: rgba(0, 0, 0, 0.3);
}

.compare {
  position: relative;

  width: 75px;
  padding-left: 25px;
}

.compare::before {
  content: "";

  position: absolute;
  bottom: 10px;
  left: 6px;

  width: 10px;
  height: 10px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket {
  position: relative;

  width: 60px;
  padding-left: 40px;
}

.basket::before {
  content: "";

  position: absolute;
  bottom: 9px;
  left: 15px;

  width: 12px;
  height: 12px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  width: 1040px;
  margin-bottom: 45px;
}

.site-navigation a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);


}

.site-navigation-catalog {
  position: relative;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  width: 220px;
  padding: 0;
  border: none;

  background-color: transparent;
}


.site-navigation-catalog::after {
  content: "";

  position: absolute;
  right: -22px;
  top: 3px;

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.site-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
  outline: 0;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
  outline: 0;
}

.navigation-catalog-list {
  display: none;

  position: absolute;
  left: -60px;

  width: 1100px;
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 30px;

  list-style: none;

  background-image: url("../img/background.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

.navigation-catalog-list a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: normal;
  text-transform: none;
}

.site-navigation-catalog:hover .navigation-catalog-list {
  display: flex;
}

.navigation-catalog-list ul {
  width: 200px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.navigation-catalog-list .column-1 {
  margin-right: 40px;
}

.column-1 li,
.column-2 li,
.column-3 li {
  margin-bottom: 10px;
}

.column-1 li:last-child {
  margin-bottom: 0;
}

.site-navigation-info {
  display: flex;
  justify-content: space-between;

  width: 500px;
}

.delivery {
  margin-right: 30px;
}

.guarantee {
  margin-right: 112px;
}

.main-title {
  font-family: "Gilory", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  text-align: left;
  letter-spacing: 0.5;
  color: rgb(0, 0, 0);
}

.common-column {
  display: flex;
  justify-content: space-between;
}

.common-column h2 {
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 60px;
  margin-bottom: 45px;
}

.common-column h2::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: rgb(0, 0, 0);
}

.common-column p {
  line-height: 40px;

  padding: 0;
  margin: 0;
}

.common-column p:first-of-type {
  margin-bottom: 25px;
}

.common-column .button {
  margin-top: 65px;
  margin-bottom: 80px;
}

.about-us {
  width: 480px;
}

.about-us p:last-of-type {
  margin-bottom: 50px;
}

.about-us .companies-list {
  padding: 0;
  margin: 0;
  padding-left: 30px;
  list-style: none;

  font-family: "Gilory", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: rgb(0, 0, 0);
}

.companies-list li {
  position: relative;
}

.companies-list li::before {
  content: "";

  position: absolute;
  left: -30px;
  top: 15px;

  width: 8px;
  height: 8px;

  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contacts {
  width: 560px;
}

.contacts .contacts-map-image {
  display: block;
  padding-top: 15px;
}

.catalog-page {
  width: 1100px;
  padding-left: 60px;
}

.page-title {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  padding-top: 44px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  line-height: 24px;

  padding: 0;
  margin: 0;
  margin-bottom: 45px;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 38px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after{
  content: "";

  position: absolute;
  top: 9px;
  right: -20px;

  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-size: 14px;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-column {
  display: flex;
  justify-content: space-between;

  position: relative;

}

.filters {
  width: 270px;

  background-color: rgb(235, 235, 235);
}

.filters::before {
  content: "";
  position: absolute;
  left: -1100px;
  top: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: rgb(235, 235, 235);

}

.filter {
  padding-top: 20px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
  border: none;
}

.filter legend {
  margin-bottom: 25px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;

  color: rgb(0, 0, 0);
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-option {
  margin-bottom: 17px;
  padding-left: 40px;
}

.filter-option:last-child {
  margin-bottom: 0;
}

.filter-option label {
  display: block;

  position: relative;

  cursor: pointer;
}

.filter-input + label {
  color: rgb(0, 0, 0);
}

.filter-input-checkbox + label::before {
  content: "";

  position: absolute;
  bottom: 0;
  left: -40px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: -40px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  bottom: 0;
  left: -40px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: -40px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label:hover::before,
.filter-input-radio + label:hover::before {
  opacity: 0.6;
}

.filter-input-checkbox:checked + label:hover::after,
.filter-input-radio:checked + label:hover::after {
  opacity: 0.6;
}

.catalog {
  width: 760px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 45px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item img {
  padding: 0;
  margin: 0;
  margin-bottom: 33px;

  width: 360px;
  height: 380px;
}

.catalog-item-title-price{
  display: flex;
  justify-content: space-between;

  width: 360px;
  padding: 0;
  margin: 0;
}

.item-title {
  width: 260px;
  padding: 0;
  margin: 0;
}

.item-title a{
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.item-price {
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: rgb(70, 70, 77);
}

.catalog-item-float-buttons {
  display: none;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;

  width: 360px;
  height: 380px;
  background-color: rgba(255,255,255,0.7);
}

.catalog-item-float-buttons .button {
  display: block;
  margin: auto;
  margin-top: 173px;
}

.catalog-item-float-buttons .compare-button {
  display: block;
  margin: auto;
  margin-bottom: 25px;

  cursor: pointer;
}

.catalog-item:hover .catalog-item-float-buttons {
  display: block;
}

.compare-button {
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);

  background-color: transparent;
  border: none;
}

.compare-button:hover {
  color: rgb(0, 0, 0);
}

.compare-button:active {
  color: rgba(0, 0, 0, 0.2);
}


.main-footer {
  color: rgb(255, 255, 255);

  background-color: rgb(70, 70, 77);
}

.main-footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-section-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1160px;
  margin-top: 65px;
  margin-bottom: 24px;
}

.main-footer a svg #logo {
  fill: rgb(255, 198, 0)
}

.main-footer a:hover svg #logo {
  opacity: 0.6;
}

.main-footer a:active svg #logo {
  opacity: 0.3;
}

.footer-user-navigation {
  display: flex;
  justify-content: flex-end;

  width: 480px;
  padding: 0;
  margin: 0;
  list-style: none;
}


.footer-user-navigation a {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.2px;
}

.footer-user-navigation a:hover {
  color: rgba(255, 255, 255)
}

.footer-user-navigation a:active {
  color: rgba(255, 255, 255, 0.3)
}

.footer-user-navigation .user-navigation-index {
  width: 85px;
 }

 .footer-user-navigation .user-navigation-login {
   margin-right: 10px;
 }

.main-footer .compare::before {
  background-image: url("../img/compare-footer.svg");
}

.main-footer .basket::before {
  background-image: url("../img/cart-footer.svg");
}

.main-footer .login-link::before {
  background-image: url("../img/user-footer.svg");
}

.logout-link-footer {
  margin-right: 10px;
}

.logout-link-footer a {
  color: rgba(255, 255, 255, 0.3);
}

.middle-section-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  width: 1160px;
  margin-bottom: 60px;
}

address {
  font-style: normal;
}

.footer-site-navigation {
  display: flex;
  justify-content: space-between;

  width: 440px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-site-navigation a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: rgb(255, 255, 255);
}

.footer-site-navigation a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.phone-number {
  padding: 0;
  margin: 0;
}

.bottom-section-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 1160px;
  margin-bottom: 65px;
}

.footer-detail {
  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-social {
  display: flex;
  justify-content: space-between;

  width: 160px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;
  background-color: transparent;
  opacity: 0.3;
  border-radius: 50%;
}

.social-button:hover {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.copyright {
  display: block;
  width: 27px;
  height: 35px;
  padding: 0;
  margin: 0;
}

.copyright a svg #html-logo {
  fill: rgb(255, 198, 0);
}

.copyright a:hover svg #html-logo {
  opacity: 0.6;
}

.copyright a:active svg #html-logo {
  opacity: 0.3;
}

/* .pop-up {
  display: none;
}*/

.pop-up {
  position: relative;
}

.pop-up .button-close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;
  border: 0;

  font-size: 0;

  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.5;

  cursor: pointer;
}

.button-close:hover {
  opacity: 1;
}

.button-close:active {
  opacity: 0.3;
}

.pop-up-message {
  width: 760px;
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 95px;
  padding-bottom: 78px;
  margin-top: 50px;

  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.message-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 760px;
}


.pop-up-message label {
  display: block;

  font-family: "Gilory", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: left;
  color: rgb(0, 0, 0);

  margin-bottom: 10px;
}

.pop-up-message input,
.pop-up-message textarea   {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);

  box-sizing: border-box;
  width: 360px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 17px;
  border: 3px solid transparent;

  background-color: #e5e5e5;
}

.pop-up-message input:hover,
.pop-up-message textarea:hover {
  background-color: #eaeaea;
}

.pop-up-message input:focus,
.pop-up-message textarea:focus {
  background-color: rgb(255, 255, 255);

  color: rgb(0, 0, 0);
  border: 3px solid #f0c52e;

  outline: none;
}

.message-item {
  width: 360px;
  margin: 0;
  margin-bottom: 35px;
}

.message-item-text {
  margin: 0;
}

.message-item-text textarea {
  width: 760px;
  padding-bottom: 0;
  margin-bottom:  25px;

  resize: none;
}

.pop-up-map {
  width: 960px;
  margin: auto;
  margin-top: 50px;
}

.pop-up-map img {
  width: 960px;
  height: 559px;
}
